/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-2 py-2 mx-2 border border-[#d1d5db] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all border-[#1976d2]/40 text-[#1976d2]/40;
    }

    .navButton {
        @apply px-2 py-2 mx-2 uppercase text-base tracking-widest font-bold;
        color: #ffffff;
    }

    .navButton:hover {
        color: #121212;
    }

    .contactInput {
        @apply outline-none rounded-sm border-b-2 px-6 py-4 border-[#d1d5db] text-gray-400 placeholder-gray-500 transition-all hover:border-[#1976d2]/40 focus:text-[#1976d2]/40;
        background-color: var(--color-shade);
        color: var(--color-contrast);
    }

    .contactInput:focus {
        color: var(--color-contrast);
        border-color: var(--color-primary);
    }

    .contactInput:hover {
        border-color: var(--color-primary);
    }

    header {
        background-color: var(--color-primary);
    }

    .social-icons-div,
    .navBar {
        background-color: inherit;
    }

    .skill-image {
        filter: drop-shadow(1px 1px 10px var(--color-contrast));
    }

    .company-image {
        filter: drop-shadow(1px 1px 5px var(--color-contrast));
    }

    .img-stroke {
        /* border: solid 1px transparent;
        margin: 10px; */

        /* -webkit-filter: drop-shadow(0.5px 0.5px 0 var(--color-contrast)) drop-shadow(-0.5px 0.5px 0 var(--color-contrast)) drop-shadow(0.5px -0.5px 0 var(--color-contrast)) drop-shadow(-0.5px -0.5px 0 var(--color-contrast));

        filter: drop-shadow(0.5px 0.5px 0 var(--color-contrast)) drop-shadow(-0.5px 0.5px 0 var(--color-contrast)) drop-shadow(0.5px -0.5px 0 var(--color-contrast)) drop-shadow(-0.5px -0.5px 0 var(--color-contrast)); */
    }


}



:root {
    --color-bg: #ffffff;
    --color-contrast: #121212;
    --color-text: #000000;
    --color-border: #d1d5db;
    --color-shade: #f0f0f0;
    /* --color-primary: #1976d2; */
    --color-primary: #0e3155
}

.dark {
    --color-bg: #121212;
    --color-contrast: #ffffff;
    --color-text: #ffffff;
    --color-border: #333333;
    --color-shade: #292929;
    --color-primary: #0e3155;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}


/* Custom scrollbar styles */
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-bg);
}

.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    /* thumb color */
}

.scrollbar-thin::-webkit-scrollbar-track {
    background-color: var(--color-bg);
    /* track color */
}

/* Prevent background color change on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-shade) inset !important;
    box-shadow: 0 0 0px 1000px var(--color-shade) inset !important;
    -webkit-text-fill-color: var(--color-text) !important;
}